 <div  style="background-color:navy; width: 100%; padding: 10px; border: 1px solid #CCC ">
      <div>
          <table style="width: 100%; text-align: center">
              
             
                  <tr align="center">
                          <td>{{this.cityName}}</td>
                        <td>{{this.view.main.temp_max}}</td>
                        <td>{{this.view.main.pressure}}</td>
                        <td><img src={{url}} ></td>
                  </tr>
           
          </table>
      </div>
  </div>