<div style="background-color:dimgray;color:white;padding:20px;">
    
  <h2 align="center" >WEATHER FORCAST</h2>

</div>

<p >Enter The City</p>
<input  type="text" [(ngModel)]='name'>

<br/>
<br/>

  <button (click)='getData()'>   SEARCH WEATHER</button>

  <h1 align="center">Weather Information</h1>
  
  <div style="background-color:deepskyblue; width: 50%; padding: 10px; border: 1px solid #CCC ">
      <h3>{{name}}</h3>
        
     
  </div>
  




  <table *ngFor='let data of dayToDayData' >
      <app-weather [view]=data [cityName]=name></app-weather>
  </table>




